[data-md-color-scheme="torrentdb"] {
  --md-primary-fg-color:        #181818;
  --md-primary-fg-color--light: #181818;
  --md-primary-fg-color--dark:  #181818;
}
[data-md-color-scheme="slate"] {
  --md-hue: 250; 


}